<!-- those class are bootstraps class for easy CSS -->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>My apparatus</h2>
            <!-- Here '| date' is a generic Angular pipe (https://angular.io/guide/pipes) -->
            <p>Last update : {{lastUpdate | date: 'short'| uppercase}}</p>
            <!-- The async pipe subscribes to an Observable or Promise and returns the latest value it has emitted. -->
            <p>Last async update : {{lastUpdateAsync | async }}</p>
            <!-- need key value here to transforms Object (or Map) into an array of key value pairs -->
            <ul class="list-group" *ngFor="let apparatus of apparatuses; let i = index">
                <app-apparatus [index]="i" [id]="apparatus.id">
                </app-apparatus>
            </ul>
            <button class="btn btn-success" [disabled]="!isAuth" (click)="onTurnOn()">Turn all on</button>
            <button class="btn btn-danger" [disabled]="!isAuth" (click)="onTurnOff()">Turn all off</button>
        </div>
    </div>
</div>