<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="auth">Authentication</a></li>
                <li routerLinkActive="active"><a routerLink="apparatus-list">Apparatus list</a></li>
                <li routerLinkActive="active"><a routerLink="apparatus-edit">Apparatus edition</a></li>
                <li routerLinkActive="active"><a routerLink="post-list">Post list</a></li>
                <li routerLinkActive="active"><a routerLink="angular-home-page">Angular home page</a></li>
            </ul>
            <div class="navbar-right">
                <p>You have been logged in for {{seconds}} seconds!</p>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>