<!-- add dynamic style with ngStyle and dynamic CSS class with ngClass -->
<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': apparatus.status.toLowerCase() === 'on',
                'list-group-item-danger': apparatus.status.toLowerCase() === 'off'}">
    <h4 [ngStyle]="{color: getColor()}">Apparatus: {{apparatus.name}} -- Status : {{getStatus()}} </h4>
    <a [routerLink]="['/apparatus', id]">Détail</a>
    <!-- with [] ngModel is a one-way binding and with [()] it's a two-way binding -->
    <input type="text" class="form-control" [(ngModel)]="apparatus.name">
    <button [ngClass]="{'btn': true, 'btn-sm': true, 
    'btn-success':apparatus.status.toLowerCase() === 'off',
    'btn-danger':apparatus.status.toLowerCase() === 'on'}" (click)="onSwitch()">
        {{getSwitchingAction().toUpperCase()}}
    </button>
</li>